
@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <table>
        <tr>
            <td>*邮箱</td>
            <td><input name="TextBox1" type="text" id="TextBox1" class="in" /></td>
        </tr>
        <tr>
            <td>*手机</td>
            <td><input name="TextBox2" type="text" id="TextBox2" class="in" /></td>
        </tr>
        <tr>
            <td>*设置密码：</td>
            <td><input name="TextBox3" type="password" id="TextBox3" class="in" /></td>
        </tr>
        <tr>
            <td>*确认密码：</td>
            <td><input name="TextBox4" type="password" id="TextBox4" class="in" /></td>
        </tr>
        <tr>
            <td>*昵称</td>
            <td><input name="TextBox5" type="text" id="TextBox5" class="in" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input id="CheckBox1" type="checkbox" name="CheckBox1" checked="checked" />请阅读<a href="#" style="text-decoration:none">《用户服务协议》</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <!--<input id="btnOK" type="submit" value="我要注册" />-->
                <input id="btnOK" type="submit" value="" style="background: url('/images/Register.gif'); width: 99px; height: 37px; border: 0;" />
            </td>
        </tr>
    </table>

</body>
</html>
