
@{
    ViewBag.Title = "TeAnswerDetail";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}
<h2>审卷</h2>
<table>
    <tr>
        <td>
            <h4>试卷描述</h4><hr />
            试卷名称: HTML理论试题一 <br />
            试卷介绍: HTML理论试题一<br />
            试卷时长: 45 (分钟)<br />
        </td>
        <td>
            <h4>考生信息</h4><hr />
            学生姓名: 张三 <br />
            学生班级: 湖南工程3801<br />
            交卷时间： <br />
        </td>
    </tr>
</table>
<fieldset>
    <legend>答题区</legend>
    <ul>
        <li>
            <span style="font-weight:bold"> 下列css属性中,用于指定背景图片的是( )</span> ( 25 分)
            <ul style="padding-left:30px;">
                <li>
                    <span style="color:blue;">学生的答案是：B </span>
                    <span style="color:red">✘</span>
                </li>
                <li><span style="color:red;">正确答案是：A</span></li>
            </ul>
        </li>
        <li>
            <span style="font-weight:bold"> 下面哪个CSS属性是用来改变背景颜色( )</span> ( 25 分)
            <ul style="padding-left:30px;">
                <li>
                    <span style="color:blue;">学生的答案是：B </span>
                    <span style="color:red">✘</span>
                </li>
                <li><span style="color:red;">正确答案是：A</span></li>
            </ul>
        </li>
        <li>
            <span style="font-weight:bold"> 天空是红色的</span> ( 25 分)
            <ul style="padding-left:30px;">
                <li>
                    <span style="color:blue;">学生的答案是：1 </span>
                    <span style="color:red">✘</span>
                </li>
                <li><span style="color:red;">正确答案是：0</span></li>
            </ul>
        </li>
        <li>
            <span style="font-weight:bold"> 无序列表的标签是？</span> ( 25 分)
            <ul style="padding-left:30px;">
                <li>
                    <span style="color:blue;">学生的答案是：li </span>
                    <span style="color:red">✘</span>
                </li>
                <li><span style="color:red;">正确答案是：&lt;ul&gt;&lt;li&gt;</span></li>
            </ul>
        </li>
        <li>
            <span style="font-weight:bold"> 请选择您现在的心情？</span> ( 25 分)
            <ul style="padding-left:30px;">
                <li>
                    <span style="color:blue;">学生的答案是：A </span>
                    <span style="color:green">✔</span>
                </li>
                <li><span style="color:red;">正确答案是：A</span></li>
            </ul>
        </li>
        <li>
            <span style="font-weight:bold"> 这个题目不错</span> ( 25 分)
            <ul style="padding-left:30px;">
                <li>
                    <span style="color:blue;">学生的答案是：A </span>
                    <span style="color:red">✘</span>
                </li>
                <li><span style="color:red;">正确答案是：B</span></li>
            </ul>
        </li>
        <li>
            <span style="font-weight:bold"> 123</span> ( 12 分)
            <ul style="padding-left:30px;">
                <li>
                    <span style="color:blue;">学生的答案是：A </span>
                    <span style="color:red">✘</span>
                </li>
                <li><span style="color:red;">正确答案是：4</span></li>
            </ul>
        </li>
    </ul>

    <div style="font-size:30px;color:red;padding:10px 50px">
        <span> 分数：25 </span>
    </div>
</fieldset>


