
@{
    ViewBag.Title = "w3cSchool学习";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@*<h2>Study</h2>*@
    <h3>
        [html]教程
    </h3>
    <ul>
        <li><a href="#">html</a></li>
        <li><a href="#">html5</a></li>
        <li><a href="#">css</a></li>
        <li><a href="/Account/Register">注册</a></li>
    </ul>

    

