
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}


<h2>添加试卷</h2>

<form action="/Papers/Create" method="post">
   
        <h4>试卷信息</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="PaperName">试卷名</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="试卷名是必填项" id="PaperName" name="PaperName" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="PaperName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="PaperExplain">试卷说明</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="试卷说明是必填项" id="PaperExplain" name="PaperExplain" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="PaperExplain" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="PaperTime">试卷时长</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-number="字段 试卷时长 必须是一个数字。" data-val-required="试卷时长是必填项" id="PaperTime" name="PaperTime" type="number" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="PaperTime" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" 保存 " class="btn btn-default" />
            </div>
        </div>
   
</form>
<div>
    <a href="/Papers/Index">返回试卷列表</a>
</div>



