
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}
@using UserRoles.Models;
@{
    Paper paper = ViewBag.paper;
}

<h2>试卷详情</h2>
<div>
    <fieldset>
        <legend>试卷信息</legend>
        <dl class="dl-horizontal">
            <dt> 试卷名</dt>
            <dd>@paper.PaperName</dd>
            <dt> 试卷说明</dt>
            <dd> @paper.PaperExplain</dd>
            <dt> 试卷时长</dt>
            <dd> @paper.PaperTime</dd>
            <dt> 试卷总分</dt>
            <dd> @paper.Topic</dd>
            </dl>
    </fieldset>

    <fieldset>
        <legend>试卷内容</legend>
        <ul style="list-style:inside;">
        </ul>
    </fieldset>

</div>
<p>
    <a href="/Topics/Create/@paper.PaperID">添加考题</a> |
    <a href="/Papers/Edit">修改试卷信息</a> |
    <a href="/Papers">返回试卷列表</a>
</p>
