
@{
    Layout = null;
}

<!DOCTYPE html>
@using StuSystem.Models;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/View.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    @Html.Partial("_TopPartial")
    <div>
        @*这是Test1控制器Login方法的视图*@
        @Html.SetUl(new[] { "首页", "新闻", "关注" })
        @Html.SetUl(new[] { "首页", "新闻", "关注","关于" },"nav nav-tabs")

    </div>
</body>
</html>
