
@{
    ViewBag.Title = "Show";
}

<h2>查看老师信息</h2>
<p>编号：@ViewBag.teacher.TeacherID</p>
<p>姓名：@ViewBag.teacher.TeacherName</p>
<p>账号：@ViewBag.teacher.TeacherLoginName</p>
<p>密码：@ViewBag.teacher.TeacherLoginPwd</p>
<p>电话：@ViewBag.teacher.TeacherPhone</p>
<p>邮箱：@ViewBag.teacher.TeacherEmail</p>

