
@{
    ViewBag.Title = "IsLike";
}

<h2>选择爱好</h2>
<form method="post" action="IsLike">
    <input type="checkbox" name="like" value="玩游戏" />玩游戏
    <input type="checkbox" name="like" value="搞学习" />搞学习
    <input type="checkbox" name="like" value="看漫画" />看漫画
    <input type="checkbox" name="like" value="打电话" />打电话
    <input type="submit" value="登录" />
</form>
@if (ViewBag.GetLike != null)
{
    foreach (var item in ViewBag.GetLike)
    {
        <h2>@item</h2>
    }
}


