<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>欢迎进入W3cSchool学习网站</h1>
    <div>
        @RenderBody()
    </div>
    <h3>
        版权所有，保留一切权力
    </h3>
</body>
</html>
