
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <h2>ViewData:@ViewData["Date"]</h2>
    <h3>ViewBag:@ViewBag.time</h3>
    <h2>ViewData取的ViewBag的：@ViewBag.Date</h2>
    <h2>ViewBag取ViewData 的time的：@ViewData["time"]</h2>

